// Bp

$home-todo-bp-1: 550px;
$home-todo-bp-2: 450px;
$home-todo-bp-3: 367px;
$home-todo-bp-4: 325px;
$home-todo-bp-5: 300px;

$usersettings-bg-1: 580px;

$start-bp-1: 640px;

$sidebar-bp-1: 940px;

$main-wrapper-bp: 650px;